<template>
  <div>
    <h1>Album dans ma bibliothèque</h1>
		<div class="d-flex justify-content-end ">
			<button class="btn btn-outline-secondary" type="button" :disabled="!canAddTag" @click="isAddingTag = true" v-if="!isAddingTag">
				<span class="fa fa-plus"></span>
				Ajouter un Tag
			</button>
			<form class="d-flex" @submit.prevent="saveTag" v-else>
				<input class="form-control" placeholder="Nom du tag..." v-model="tagName">
				<span class="input-group-append">
					<button class="btn btn-outline-secondary" type="button" @click="saveTag">
						<span class="fa fa-save"></span>
					</button>
				</span>
			</form>
			<button class="btn btn-outline-secondary ml-2" type="button" @click="redirectSearch">
				<span class="fa fa-plus"></span>
				Ajouter un album
			</button>
    </div>
    <div v-for="track in tracks" class="track-view" :key="track.id">
      <vue-track :track="track" :trackIdsOfLibrary="trackIdsOfLibrary" @itemRemove="init" can-fav can-select></vue-track>
    </div>

  </div>
</template>

<script>
import vueTrack from '../components/vue-track.vue'
const {TrackModel} = require('../models/trackModel.js')

export default {
  components: {
    vueTrack,
  },
  data() {
    return {
				tracks: [],
				trackIdsOfLibrary: [],
				isAddingTag: false,
				tagName: ''
    }
  },
  created() {
		this.init()
	},
	computed: {
		canAddTag() {
			return this.tracks.find(track => track.isSelect)
		}
	},
  methods: {
		init() {
			TrackModel.getTracksOfLibraryWithData().then((tracks) => {
				this.tracks = tracks.data
				this.trackIdsOfLibrary = this.tracks.map(track => track.id)
			})
		},
		redirectSearch() {
			this.$router.push({name: 'search'})
		},
		saveTag() {
			TrackModel.saveTag(this.tracks.filter(track => track.isSelect), this.tagName).then(() => {
				this.init()
				this.tagName = ''
				this.isAddingTag = false
			})
		}
  }
}
</script>


<style lang="scss" scoped>

.track-view:nth-child(even) {
  background-color: #eff0f2;
}

</style>
