<template>
  <div>
    <h1>Ajouter un album</h1>
    <div class="d-flex justify-content-end">
      <form class="input-group offset-8" @submit.prevent="search">
        <input class="form-control" placeholder="Rechercher un album..." v-model="requestData.params.query">
        <span class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" @click="search">
            <span class="fa fa-search"></span>
          </button>
        </span>
      </form>
    </div>
    <div v-for="track in tracks" class="track-view" :key="track.id">
      <vue-track :track="track" :trackIdsOfLibrary="trackIdsOfLibrary" @itemAdd="init" @itemRemove="init"></vue-track>
    </div>
    <vue-pagination ref="pagination" :requestFct="requestData.fct" :requestParams="requestData.params" v-model="tracks" class="mt-2"></vue-pagination>
  </div>
</template>

<script>
import vueTrack from '../components/vue-track.vue'
import vuePagination from '../components/vue-pagination.vue'
const {TrackModel} = require('../models/trackModel.js')

export default {
  components: {
    vueTrack,
    vuePagination
  },
  data() {
    return {
				tracks: [],
				trackIdsOfLibrary: [],
        requestData: {
          fct: TrackModel.getPaginated,
          params: {
            query: ''
          }
        }
    }
	},
	created() {
		this.init()
	},
  methods: {
		init() {
			TrackModel.getTracksOfLibrary().then((tracks) => {
				this.trackIdsOfLibrary = tracks.map(track => track.id)
			})
		},
    search() {
      this.$refs.pagination.reset()
    }
  }
}
</script>


<style lang="scss" scoped>

.track-view:nth-child(even) {
  background-color: #eff0f2;
}

</style>
