<template>
	<div class="">
		<div v-if="currentElemNumber" class="d-flex align-items-center justify-content-center flex-column">
			<small class="">Elements {{first}}-{{last}} ({{maxElemNumber}} au total)</small>
			<nav>
				<ul class="pagination">
					<li :class="{'disabled': paginationParams.page <= 1}" class="page-item" @click="goToPage(paginationParams.page - 1)"><a class="page-link" href="javascript:;">Précédent</a></li>
					<li :class="{'disabled': paginationParams.page + 1 > maxPage}" class="page-item" @click="goToPage(paginationParams.page + 1)"><a class="page-link" href="javascript:;">Suivant</a></li>
				</ul>
			</nav>
		</div>
		<div v-else>
			<div class="alert alert-info" role="alert">
				Aucun résultat
			</div>
		</div>
	</div>
</template>

<script>
export default {
	props: {
		requestParams: {
			type: Object,
			required: true
		},
		requestFct: {
			type: Function,
			required: true
		}
	},
	data() {
		return {
			paginationParams: {
				page: 1,
				nbItems: 20
			},
			currentElemNumber: 0,
			maxElemNumber: 0,
			maxPage: 0,
		}
	},
	computed: {
		first() {
			return (this.paginationParams.page * this.paginationParams.nbItems) - this.paginationParams.nbItems + 1
		},
		last() {
			let last = this.paginationParams.page * this.paginationParams.nbItems
			return last > this.maxElemNumber ? this.maxElemNumber : last
		}
	},
	methods: {
		request() {
			this.requestFct(Object.assign({}, this.paginationParams, this.requestParams)).then((data) => {
				this.currentElemNumber = data.data.length
				this.maxElemNumber = data.total
				this.maxPage = Math.ceil(data.total / this.paginationParams.nbItems)
				this.$emit('input', data.data)
			})
		},
		reset() {
			this.paginationParams.page = 1
			this.request()
		},
		goToPage(page) {
			if (page >= 1 && page <= this.maxPage) {
				this.paginationParams.page = page
				this.request()
			}
		}
	}
}
</script>
