<template>
	<div class="d-flex justify-content-between align-items-center">
		<div>
			<input v-if="canSelect" type="checkbox" v-model="track.isSelect"/>
			<img class="miniature" :src="track.image_url"/>
				{{ track.name }}
		</div>
		<div class="d-flex align-items-center">
			<div class="d-flex flex-column text-right">
				<small>{{ track.release_date | formatDate }}</small>
				<span>{{ track.duration | formatDuration }}</span>
				<small>
					<span v-for="tag in track.tags" class="badge badge-pill badge-primary mr-1">{{ tag }}</span>
				</small>
			</div>
			<div class="ml-2 mr-2">
				<button v-if="!isInLibrary" class="btn btn-sm btn-outline-secondary" title="Ajouter à ma bibliothèque" @click="addToLibrary">
					<span class="fa fa-plus" ></span>
				</button>
				<button v-else class="btn btn-sm btn-outline-secondary" title="Supprimer de ma bibliothèque" @click="removeFromLibrary">
					<span class="fa fa-minus"></span>
				</button>
			</div>
			<div class="mr-2" v-if="canFav">
				<button class="btn btn-sm btn-outline-secondary" title="Mettre en favoris" @click="fav">
					<span class="fa fa-heart" :class="{'text-primary': track.fav}"></span>
				</button>
			</div>
		</div>
	</div>
</template>

<script>
import {TrackModel} from '../models/trackModel.js'

export default {
	props: {
		track: {
			type: Object,
			required: true
		},
		trackIdsOfLibrary: {
			type: Array,
			default: () => []
		},
		canFav: {
			type: Boolean,
			default: false
		},
		canSelect: {
			type: Boolean,
			default: false
		}
	},
	computed: {
		isInLibrary() {
			return this.trackIdsOfLibrary.includes(this.track.id)
		}		
	},
	methods: {
		addToLibrary() {
			TrackModel.addTrackToLibrary(this.track).then(() => {
				this.$emit('itemAdd')
			})
		},
		removeFromLibrary() {
			TrackModel.removeTrackFromLibrary(this.track).then(() => {
				this.$emit('itemRemove')
			})
		},
		fav() {
			TrackModel.favTrack(this.track).then(() => {
				this.track.fav = !this.track.fav
			})
		}
	},
}
</script>

<style lang="scss" scoped>

.miniature {
    height: 100px;
    width: 100px;
}

</style>
