<template>
  <div id="app">
    <nav class="navbar navbar-expand navbar-light bg-light">
      <router-link class="navbar-brand" to="/">Accueil</router-link>
      <div class="navbar-nav">
        <router-link class="nav-item nav-link" to="/search">Recherche</router-link>
        <router-link class="nav-item nav-link" to="/library">Ma bibliothèque</router-link>
      </div>
    </nav>
    <div class="container">
      <router-view></router-view>
    </div>
  </div>
</template> 

<script>
import spotifyApi from './api/spotifyApi'

export default {
  name: 'App',
  created() {
    spotifyApi.auth()
  }
}
</script>

<style>
</style>